#title{
	position:fixed;
	left:0px;
	right:0px;
	top:0px;
	border:0px;
	padding:0px;
	margin:0px;
	background-color:rgba(0,0,0,0.5);
	font-family:courier;
	font-size:18px;
	line-height:30px;
}

#messages{
	position:fixed;
	left:0px;
	right:0px;
	top:30px;
	bottom:40px;
	border:0px;
	padding:5px;
	margin:0px;
	background-color:rgba(0,0,0,1);
	font-family:courier;
	font-size:18px;
	line-height:18px;
	color:rgba(0,128,0,1);
}

#prompt{
	position:fixed;
	bottom:25px;
	left:0px;
	right:0px;
	width:100%;
	height:30px;
	border:0px;
	padding:5px;
	margin:0px;
	font-family:courier;
	font-size:18px;
}

#status{
	position:fixed;
	bottom:0px;
	left:0px;
	right:0px;
	line-height:15px;
	border:0px;
	padding:5px;
	text-align:right;
	margin:0px;
	background-color:rgba(0,0,0,0.5);
	font-family:courier;
	font-size:18px;
}