doctype html
html(lang="en")
	head
		title="Hello world!"
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
		script(src="/socket.io/socket.io.js")
		script(src="/js/io.js")
		script(src="/js/main.js")
		link(rel="stylesheet" href="css/style.css")
	body
		#title.
			webMUD
		#messages
		input#prompt
		#status.
			webMUD v1.0.0